<a href="https://colab.research.google.com/github/drdssouza/Curso---Machine-Learning-Sistema-de-Recomenda-o-com-python/blob/main/Machine_Learning_Sistema_de_Recomenda%C3%A7%C3%A3o_com_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importação e configuração das bibliotecas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 50)

plt.rcParams['figure.figsize']=(15,6)
plt.style.use('seaborn-darkgrid')

Leitura dos dados

In [3]:
dadoslivros=pd.read_csv("Books.csv")
dadosavaliacao=pd.read_csv("Ratings.csv")
dadosusuario=pd.read_csv("Users.csv")

dadoslivros.shape, dadosavaliacao.shape, dadosusuario.shape

((121164, 8), (1149780, 3), (278858, 3))

In [4]:
dadoslivros.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [5]:
dadoslivros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121164 entries, 0 to 121163
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 121164 non-null  object
 1   Book-Title           121164 non-null  object
 2   Book-Author          121164 non-null  object
 3   Year-Of-Publication  121164 non-null  int64
 4   Publisher            121164 non-null  object
 5   Image-URL-S          121164 non-null  object
 6   Image-URL-M          121164 non-null  object
 7   Image-URL-L          121163 non-null  object
dtypes: int64(1), object(7)
memory usage: 7.4+ MB

In [6]:
dadosavaliacao.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [7]:
dadosavaliacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [9]:
dadosusuario.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [10]:
dadosusuario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

**Cruzamento dos dados**

In [14]:
tab_cruzada = dadoslivros.merge(dadosavaliacao,how='inner',on='ISBN')
tab_cruzada = tab_cruzada.merge(dadosusuario,how='inner',on='User-ID')

In [15]:
tab_cruzada.shape

(807317, 12)

In [16]:
tab_cruzada.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5,"timmins, ontario, canada",NaN
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,8,0,"timmins, ontario, canada",NaN
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,8,0,"timmins, ontario, canada",NaN
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,8,0,"timmins, ontario, canada",NaN

In [17]:
tab_cruzada.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 807317 entries, 0 to 807316
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 807317 non-null  object
 1   Book-Title           807317 non-null  object
 2   Book-Author          807317 non-null  object
 3   Year-Of-Publication  807317 non-null  int64
 4   Publisher            807317 non-null  object
 5   Image-URL-S          807317 non-null  object
 6   Image-URL-M          807317 non-null  object
 7   Image-URL-L          807316 non-null  object
 8   User-ID              807317 non-null  int64
 9   Book-Rating          807317 non-null  int64
 10  Location             807317 non-null  object
 11  Age                  587483 non-null  float64
dtypes: float64(1), int64(3), object(8)
memory usage: 80.1+ MB

**Converter a coluna Ano**

In [20]:
# Arrumando valores incorretos
tab_cruzada.iloc[287500,3]=''
tab_cruzada.iloc[352361,3]=''
tab_cruzada.iloc[467962,3]=''
tab_cruzada.iloc[469216,3]=''

In [21]:
tab_cruzada['Year-Of-Publication']=pd.to_numeric(tab_cruzada['Year-Of-Publication'])

**Tratamento de texto**

In [24]:
def extrair_pais(regiao):
  registro = regiao
  registro = regiao.split(',')
  fracao = registro[-1].upper()
  return fracao

tab_cruzada['Pais']=tab_cruzada['Location'].apply(extrair_pais)

**Renomear Colunas**

In [26]:
tab_cruzada.rename(
    columns={
        'Book-Title': 'Titulo',
        'Book-Author': 'Autor',
        'Year-Of-Publication':'Ano_Publicacao',
        'User-ID':'Id_Cliente',
        'Book-Rating':'Avaliacao',
        'Location':'Localizacao',
        'Age':'Idade'
    }, inplace=True
)
tab_cruzada.columns

Index(['ISBN', 'Titulo', 'Autor', 'Ano_Publicacao', 'Publisher', 'Image-URL-S',
       'Image-URL-M', 'Image-URL-L', 'Id_Cliente', 'Avaliacao', 'Localizacao',
       'Idade', 'Pais'],
      dtype='object')